.container {
  background-color: rgb(61, 58, 58);
  height: 100%;
  color: white;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  border-right: .1rem solid rgb(156, 149, 149);
  border-bottom: .1rem solid rgb(156, 149, 149);
  width: 100%;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 1rem;
}

.chat {
  width: 100%;
  height: calc(100vh - (10rem + 5rem + 7.5rem));
  overflow-y: scroll;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: .5rem;
  color: rgba(255, 255, 255, 0.87);
  border-right: .1rem solid rgb(156, 149, 149);
  border-bottom: .1rem solid rgb(156, 149, 149);
  white-space: pre-line;
}

.message {
  padding: .5rem;
}

.username {
  color: white;
  font-weight: bold;
}

.messageForm {
  width: 90%;
  font-size: 1.6rem;
  border-radius: .4rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.messageFormFocus {
  border: .1rem solid white;
}

.messageFormUnfocus {
  border: .1rem solid rgb(156, 149, 149);
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 1rem;
  font-size: 1.8rem;
  caret-color: white;
  color: white;
  width: 90%;
  height: 1.8rem;
  resize: none;
  font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

.messageOptions {
  display: flex;
  border-top: .1rem solid rgb(156, 149, 149);
  justify-content: flex-end;
  padding: .5rem;
}

.sendMessage {
  color: rgba(255, 255, 255, 0.87);
  padding: .4rem .8rem;
  cursor: pointer

}

.sendMessageGreen {
  color: white;
  background-color: #2eb67d;
  padding: .4rem .8rem;
  border-radius: .4rem;
  cursor: pointer;
}